In [ ]:
!pip install selenium
!pip install bs4
1pip install requests  #Requirement already satisfied

In [1]:
#Libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
import requests

from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException,StaleElementReferenceException

import warnings
warnings.filterwarnings ('ignore')

# Q. 1.  Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
# connecting to driver & opening required page on automated chrome browser
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [3]:
# creating empty list
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [4]:
#Rank
rank=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[1]')
for i in rank:
    try:
        Rank.append(i.text)
    except NoSuchElementException:
        Rank.append('-')
        

#name
name=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[2]')
for i in name:
    try:
        Name.append(i.text)
    except NoSuchElementException:
        Name.append('-')
        
#Artist
artist=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]')
for i in artist:
    try:
        Artist.append(i.text)
    except NoSuchElementException:
        Artist.append('-')
        
#Upload_date
upload_date=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[5]')
for i in upload_date:
    try:
        Upload_date.append(i.text)
    except NoSuchElementException:
        Upload_date.append('-')
        
        
#Views
views=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[4]')
for i in views:
    try:
        Views.append(i.text)
    except NoSuchElementException:
        Views.append('-')

In [5]:
youtubedata=pd.DataFrame({"Rank":Rank,"Name":Name,"Artist":Artist,"Upload_date":Upload_date, "Views in billions":Views})
youtubedata

,Rank,Name,Artist,Upload_date,Views in billions
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.37
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.09
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.63
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.03
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.92
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.79
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.17
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.95
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.84
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.83
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.70
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.53
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.24
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.82
14,15.,"""Axel F""[35]",Crazy Frog,"June 16, 2009",3.76
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.73
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.73
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.63
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.55
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.51
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.48
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.45
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.41
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.38
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.37
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.37
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.34
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.33
28,29.,"""Lakdi Ki Kathi""[49]",Jingle Toons,"June 14, 2018",3.32
29,30.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.31

In [6]:
driver.close()

# Q. 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [ ]:
#Libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
import requests

from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException,StaleElementReferenceException

import warnings
warnings.filterwarnings ('ignore')

In [2]:
# connecting to driver & opening required page on automated chrome browser
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get('https://www.bcci.tv/')

In [3]:
#click on international automated
international=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
international.click()

In [4]:
#creating emptylist for asked data
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [5]:
#scraping required data by xpath for the data we have made empty list above

#match title
match_title=driver.find_elements(By.XPATH,'//*[@id="fixtures"]/div[3]/div//div/span[1]')
for i in match_title:
    try:
        Match_title.append(i.text)
    except NoSuchElementException:
        Match_title.append('-')
        
#series
series=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series:
    try:
        Series.append(i.text)
    except NoSuchElementException:
        Series.append('-')

#place
place=driver.find_elements(By.XPATH,'//*[@id="fixtures"]/div[3]/div//div/span[2]')
for i in place:
    try:
        Place.append(i.text)
    except NoSuchElementException:
        Place.append('-')

#date
date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date:
    try:
        Date.append(i.text)
    except NoSuchElementException:
        Date.append('-')
        
        
#time
time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    try:
        Time.append(i.text)
    except NoSuchElementException:
        Time.append('-')

In [6]:
len(Match_title),len(Series),len(Place),len(Date),len(Time)

(3, 3, 3, 3, 3)

In [7]:
OdiData=pd.DataFrame({"Match_title":Match_title,
                      "Series":Series,
                      "Place":Place,
                      "Date":Date,
                      "Time":Time})
OdiData

,Match_title,Series,Place,Date,Time
0,1st ODI -,AUSTRALIA TOUR OF INDIA 2023,"Wankhede Stadium,",17 MAR 2023,1:30 PM IST
1,2nd ODI -,AUSTRALIA TOUR OF INDIA 2023,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",19 MAR 2023,1:30 PM IST
2,3rd ODI -,AUSTRALIA TOUR OF INDIA 2023,"MA Chidambaram Stadium,",22 MAR 2023,1:30 PM IST

In [8]:
driver.close()

# Q. 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [1]:
#Libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
import requests

from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException,StaleElementReferenceException

import warnings
warnings.filterwarnings ('ignore')

In [2]:
# connecting to driver & opening required page on automated chrome browser
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get('https://www.statisticstimes.com/')

In [3]:
#click on economy dropdown button then india automated
eco_dopdwn=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button').click()

india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()

In [4]:
#click on gdp of indian states automated
gdp_india_state=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [5]:
#creating emptylist for asked data
Rank=[]
State=[]
GSDP1819=[]                     #GSDP(18-19)- at current prices
GSDP1920=[]                     #GSDP(19-20)- at current prices
Share=[]                        #Share(18-19)
GDP=[]                          #GDP($ billion)

In [6]:
#scraping required data by xpath for the data we have made empty list above

#rank
rank=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
for i in rank:
    try:
        Rank.append(i.text)
    except NoSuchElementException:
        Rank.append('-')


#state
state=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
for i in state:
    try:
        State.append(i.text)
    except NoSuchElementException:
        State.append('-')


#GSDP(18-19)- at current prices
gsdp18=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
for i in gsdp18:
    try:
        GSDP1819.append(i.text)
    except NoSuchElementException:
        GSDP1819.append('-')

#GSDP(19-20)- at current prices
gsdp19=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
for i in gsdp19:
    try:
        GSDP1920.append(i.text)
    except NoSuchElementException:
        GSDP1920.append('-') 

#Share(18-19)
share=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
for i in share:
    try:
        Share.append(i.text)
    except NoSuchElementException:
        Share.append('-') 

#GDP($ billion)
gdp=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
for i in gdp:
    try:
        GDP.append(i.text)
    except NoSuchElementException:
        GDP.append('-')

In [7]:
len(Rank), len(State), len(GSDP1819), len(GSDP1920), len(Share), len(GDP)

(33, 33, 33, 33, 33, 33)

In [8]:
#data frame & coumns are in order as asked in question

gdp_df=pd.DataFrame({"Rank":Rank, "State":State, 
                     "GSDP(18-19)- at current prices": GSDP1819 , 
                     "GSDP(19-20)- at current prices": GSDP1920, 
                     "Share":Share, "GDP":GDP })
gdp_df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share,GDP
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [9]:
driver.close()

# Q. 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [1]:
#Libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
import requests

from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException,StaleElementReferenceException

import warnings
warnings.filterwarnings ('ignore')

In [2]:
# connecting to driver & opening required page on automated chrome browser
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get('https://github.com/')

In [3]:
#click on open_source button then trending automated
open_source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source.click()

trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
trending.click()

In [8]:
#Creating empty list:
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

#Fetching urls for each repository
repository = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

In [9]:
# Scraping Repository Title data
title = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

In [10]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(2)
    
        # Scraping Repository Description data
    try:
        desc = driver.find_element(By.XPATH,"//p[@class='f4 my-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    # Scraping Contributors Count data
    try:
        contributor = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
        
        
     # Scraping Languages used data
    lang=[]
    try:
        for i in driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]'):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        lang.append('-')

In [11]:
print(len(repository_title),len(Description),len(Contributors),len(Language))

25 25 25 25

In [12]:
#Data Frame

Github=pd.DataFrame({'Repository title':repository_title,
                    'Repository description':Description,
                    'Contributors count':Contributors,
                    'Language used':Language})

Github

,Repository title,Repository description,Contributors count,Language used
0,dreamworksanimation / openmoonray,-,-,"[CMake, Python, Shell, Dockerfile]"
1,comfyanonymous / ComfyUI,A powerful and modular stable diffusion GUI wi...,6,"[Python, JavaScript, Other]"
2,logspace-ai / langflow,"⛓️ LangFlow is a UI for LangChain, designed wi...",6,"[TypeScript, Python, Dockerfile, Shell, Makefi..."
3,setzer22 / llama-rs,"Run LLaMA inference on CPU, with Rust 🦀🚀🦙",3,[Rust]
4,ayaka14732 / ChatGPTAPIFree,A simple and open-source proxy API that allows...,2,"[JavaScript, Dockerfile, Shell]"
5,whoiskatrin / sql-translator,SQL Translator is a tool for converting natura...,13,"[TypeScript, JavaScript, CSS]"
6,acheong08 / EdgeGPT,Reverse engineered API of Microsoft's Bing Chat,18,"[Python, Shell]"
7,apache / incubator-opendal,"Apache OpenDAL: Access data freely, painlessly...",48,"[Rust, JavaScript, CSS, Shell, Python, Dockerf..."
8,tloen / alpaca-lora,Finetuning InstructLLaMA on consumer hardware,4,"[Jupyter Notebook, Python]"
9,THUDM / ChatGLM-6B,ChatGLM-6B：开源双语对话语言模型 | An open bilingual dial...,8,[Python]
10,xx025 / carrot,这儿收集了一些免费好用的ChatGPT镜像站 当前：60个站点,5,[]
11,brunosimon / folio-2019,-,-,"[JavaScript, GLSL, CSS, HTML]"
12,microsoft / unilm,Large-scale Self-supervised Pre-training Acros...,48,"[Python, Shell, Cuda, C++, Cython, Lua]"
13,massgravel / Microsoft-Activation-Scripts,A Windows and Office activator using HWID / KM...,2,[Batchfile]
14,lapce / lapce,Lightning-fast and Powerful Code Editor writte...,131,"[Rust, Scheme, Other]"
15,openai / openai-cookbook,Examples and guides for using the OpenAI API,49,"[Jupyter Notebook, TypeScript, Python, CSS, Ot..."
16,karpathy / nanoGPT,"The simplest, fastest repository for training/...",17,[Python]
17,openai / evals,Evals is a framework for evaluating OpenAI mod...,11,"[Python, Makefile]"
18,WassimTenachi / PhySO,Physical Symbolic Optimization,2,[Python]
19,chathub-dev / chathub,All-in-one chatbot client,2,"[TypeScript, JavaScript, Other]"
20,pytorch / pytorch,Tensors and Dynamic neural networks in Python ...,"2,678","[C++, Python, Cuda, C, Objective-C++, CMake, O..."
21,Const-me / Whisper,High-performance GPGPU inference of OpenAI's W...,-,"[C++, C, HLSL, C#, Batchfile]"
22,nuxt / nuxt,Nuxt is an intuitive and extendable way to cre...,414,"[TypeScript, JavaScript, Vue, Shell]"
23,huggingface / transformers,🤗 Transformers: State-of-the-art Machine Learn...,"1,702","[Python, Cuda, Shell, Dockerfile, C++, C]"
24,Chanzhaoyu / chatgpt-web,用 Express 和 Vue3 搭建的 ChatGPT 演示网页,36,"[Vue, TypeScript, Less, HTML, Shell, Dockerfil..."

In [13]:
driver.close()

# Q. 5. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [14]:
# connecting to driver & opening required page on automated chrome browser
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get('https://www.billboard.com/')

In [16]:
##click on chart automated
chart=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
chart.click()

In [17]:
#click on top100 automated
top100=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a')
top100.click()

In [18]:
#  scraping by xpath
Rank=[]
rank=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
for i in rank:
    try:
        Rank.append(i.text.strip(" ").strip("\n"))
    except NoSuchElementException:
        Rank.append('-')

In [19]:
# Song name scraping by xpath
Song=[]
song=driver.find_elements(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]')
for i in song:
    try:
        Song.append(i.text.split("\n")[0])
    except NoSuchElementException:
        Song.append('-')

In [20]:
# Artist name scraping by xpath
Artist=[]
artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//ul/li[1]/span')
for i in artist:
    try:
        Artist.append(i.text)
    except NoSuchElementException:
        Artist.append('-')

In [21]:
# Last week rank scraping by xpath
LastWRank=[]
lastwRank=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"][1]')
for i in lastwRank:
    try:
        LastWRank.append(i.text)
    except NoSuchElementException:
        LastWRank.append('-')

In [22]:
# Peak rank scraping by xpath
P_rank=[]
p_rank=driver.find_elements(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[5]')
for i in p_rank:
    try:
        P_rank.append(i.text)
    except NoSuchElementException:
        P_rank.append('-')

In [23]:
# Weeks on board scraping by xpath
WOB=[]
wob=driver.find_elements(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]//ul/li[4]/ul/li[6]')
for i in wob:
    try:
        WOB.append(i.text)
    except NoSuchElementException:
        WOB.append('-')

In [24]:
len(Rank),len(Song), len(Artist), len(LastWRank), len(P_rank), len(WOB)

(100, 100, 100, 100, 100, 100)

In [25]:
topsong_data=pd.DataFrame({"Rank":Rank,"Song name":Song, "Artist name":Artist, "Last week rank":LastWRank, "Peak rank":P_rank, 
                           "Weeks on board":WOB})
topsong_data

,Rank,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,1,Last Night,Morgan Wallen,5,1,6
1,2,Flowers,Miley Cyrus,2,1,8
2,3,Kill Bill,SZA,3,2,13
3,4,Die For You,The Weeknd & Ariana Grande,1,1,32
4,5,"Boy's A Liar, Pt. 2",PinkPantheress & Ice Spice,4,3,5
...,...,...,...,...,...,...
95,96,Nonsense,Sabrina Carpenter,75,56,8
96,97,AMG,"Gabito Ballesteros, Peso Pluma & Natanael Cano",80,66,7
97,98,Lift Me Up,Rihanna,65,2,19
98,99,You Didn't,Brett Young,78,63,9
99,100,10:35,Tiesto Featuring Tate McRae,81,69,7

In [26]:
driver.close()

# Q. 6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [27]:
# connecting to driver & opening required page on automated chrome browser
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [28]:
#title
title=[]
try:
    tags=driver.find_elements(By.XPATH,"//td[2][@class='left']")
    for i in tags:
        title.append(i.text.replace("\n"," ").strip(" "))
except Exception:
    title.append("-")

In [29]:
#author
author=[]
try:
    tags=driver.find_elements(By.XPATH,"//td[3][@class='left']")
    for i in tags:
        author.append(i.text.replace("\n"," ").strip(" "))
except Exception:
    author.append("-")

In [30]:
#Volumes sold
sold=[]
try:
    tags=driver.find_elements(By.XPATH,"//td[4][@class='left']")
    for i in tags:
        sold.append(i.text.replace("\n"," ").strip(" "))
except Exception:
    sold.append("-")

In [31]:
#Publisher
publisher=[]
try:
    tag=driver.find_elements(By.XPATH,"//td[5][@class='left']")
    for i in tag:
        publisher.append(i.text.replace("\n"," ").strip(" "))
except NoSuchElementException:
    publisher.append("-")

In [32]:
#genre
genre=[]
try:
    tag=driver.find_elements(By.XPATH,"//td[@class='last left']")
    for i in tag:
        genre.append(i.text.replace("\n"," ").strip(" "))
except NoSuchElementException:
    genre.append("-")

In [33]:
noveldf=pd.DataFrame({"Book_Name":title,
                      "Author":author,
                      "Volumes_sold":sold,
                      "Publisher":publisher
                      ,"Genre":genre})
noveldf

,Book_Name,Author,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [34]:
driver.close()

# Q. 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [35]:
# connecting to driver & opening required page on automated chrome browser
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get('https://www.imdb.com/list/ls095964455/')

In [36]:
#Name
name=[]
try:
    tags=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
    for i in tags:
        name.append(i.text.replace("\n"," ").strip(" "))
except Exception:
    name.append("-")

In [37]:
#Year span
year=[]
try:
    tags=driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
    for i in tags:
        year.append(i.text.replace("\n"," ").strip("()"))
except Exception:
    year.append("-")

In [38]:
#genre
genre=[]
try:
    tags=driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in tags:
        genre.append(i.text.replace("\n"," ").strip(" "))
except Exception:
    genre.append("-")

In [39]:
#Run time
time=[]
try:
    tags=driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in tags:
        time.append(i.text.replace("\n"," ").strip(" "))
except Exception:
    time.append("-")

In [40]:
#rating
rating=[]
try:
    tags=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']")
    for i in tags:
        rating.append(i.text.replace("\n"," ").strip(" "))
except Exception:
    rating.append("-")

In [41]:
#votes
votes=[]
try:
    tags=driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in tags:
        votes.append(i.text.replace("\n"," ").strip(" "))
except NoSuchElementException:
    votes.append("-")

In [42]:
imdb100df=pd.DataFrame({"Movie Name":name,"Year Span":year,"Genre":genre,"Runtime":time,"Ratings":rating,"Votes":votes})
imdb100df

,Movie Name,Year Span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"2,138,426"
1,Stranger Things,2016–2024,"Drama, Fantasy, Horror",51 min,8.7,"1,223,317"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.1,"1,015,187"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"299,030"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"257,897"
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42 min,7.4,"51,017"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"63,031"
97,Criminal Minds,2005–,"Crime, Drama, Mystery",42 min,8.1,"204,937"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7.1,"42,460"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"253,606"

In [43]:
driver.close()

# Q. 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [44]:
# connecting to driver & opening required page on automated chrome browser
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get('https://archive.ics.uci.edu/')

In [45]:
all_sets=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
all_sets.click()

In [46]:
#data_type
data_type=[]
try:
    info=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in info[1:]:
        data_type.append(i.text)
except NoSuchElementException:
    data_type.append("-")

In [47]:
#Name
name=[]
try:
    tags=driver.find_elements(By.XPATH,"//p[@class='normal']/b/a")
    for i in tags:
        name.append(i.text.replace("\n"," ").strip(" "))
except Exception:
    name.append("-")

In [50]:
#Task
Task=[]
try:
    tags=driver.find_elements(By.XPATH,"//tbody//tr//td[3]//p")
    for i in tags:
        Task.append(i.text.replace("\n"," ").strip("Default Task"))
except Exception:
    Task.append("-")
Task.pop(0)
Task.pop()
len(Task)

622

In [51]:
#Attribute type
atype=[]
try:
    tags=driver.find_elements(By.XPATH,"//tr//td[4]//p")
    for i in tags:
        atype.append(i.text.replace("\n"," ").strip(" "))
except Exception:
    atype.append("-")
atype.pop(0)

'Attribute Types'

In [53]:
#No of instances
instance=[]
try:
    tags=driver.find_elements(By.XPATH,"//tr//td[5]//p")
    for i in tags:
        instance.append(i.text.replace("\n"," ").strip(" "))
except Exception:
    instance.append("-")
instance.pop(0)

'# Instances'

In [54]:
#No of attribute
attribut=[]
try:
    tags=driver.find_elements(By.XPATH,"//tr//td[6]//p")
    for i in tags:
        attribut.append(i.text.replace("\n"," ").strip(" "))
except NoSuchElementException:
    attribut.append("-")
attribut.pop(0)

'# Attributes'

In [55]:
#year
year=[]
try:
    tags=driver.find_elements(By.XPATH,"//tr//td[7]//p")
    for i in tags:
        year.append(i.text.replace("\n"," ").strip(" "))
except Exception:
    year.append("-")
year.pop(0)

'Year'

In [56]:
len(name),len(atype),len(Task),len(year),len(attribut),len(instance),len(data_type)

(622, 622, 622, 622, 622, 622, 622)

In [57]:
UCIdf=pd.DataFrame({"Name":name,"Data Type":data_type,"Attribute_Type":atype,"Task":Task,"Attributes":attribut,"Instances":instance,"Year":year})
UCIdf

,Name,Data Type,Attribute_Type,Task,Attributes,Instances,Year
0,Abalone,Multivariate,"Categorical, Integer, Real",Classification,8,4177,1995
1,Adult,Multivariate,"Categorical, Integer",Classification,14,48842,1996
2,Annealing,Multivariate,"Categorical, Integer, Real",Classification,38,798,
3,Anonymous Microsoft Web Data,,Categorical,Recommender-System,294,37711,1998
4,Arrhythmia,Multivariate,"Categorical, Integer, Real",Classification,279,452,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,"Integer, Real",Classification,525,75840,2020
618,Turkish Music Emotion Dataset,Multivariate,"Integer, Real",Classification,50,400,2020
619,Maternal Health Risk Data Set,,,Classification,7,1014,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Real,Classification,16,10129,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Real,Regression,2,4000,2021

In [58]:
driver.close()

# Q. 9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C)Company
D)Skills they hire for
E) Location

In [59]:
# connecting to driver & opening required page on automated chrome browser
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [60]:
##click on recruiters automated
recruiters=driver.find_element(By.XPATH,"/html/body/div[1]/div/ul/li[2]/a/div")
recruiters.click()

In [61]:
#searching automated
search=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
search.send_keys("Data Science")

button=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
button.click()

In [66]:
#Name
name=[]
try:
    tags=driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']")
    for i in tags:
        name.append(i.text.replace("\n"," ").strip(" "))
except NoSuchElementException:
    name.append("-")

In [63]:
#Designation
designation=[]
try:
    tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']")
    for i in tags:
        designation.append(i.text.replace("\n"," ").strip(" "))
except NoSuchElementException:
    designation.append("-")

In [67]:
#Company
comp=[]
try:
    tag=driver.find_elements(By.XPATH,"//a[2][@class='ellipsis']")
    for i in tag:
        comp.append(i.text)
except NoSuchElementException:
    comp.append("-")

In [68]:
#Skills they hire for
skills=[]
try:
    tag=driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")
    for i in tag:
        skills.append(i.text.replace("\n"," "))
except NoSuchElementException:
    skills.append("-")

In [69]:
#Location
loc=[]
try:
    tag=driver.find_elements(By.XPATH,"//small[@class='ellipsis']")
    for i in tag:
        loc.append(i.text.replace("\n"," ").strip(" "))
    else:
        loc.append("-")
except NoSuchElementException:
    loc.append("-")

In [70]:
len(name),len(designation),len(comp),len(skills),len(loc)

(50, 50, 50, 50, 50)

In [71]:
naukridf=pd.DataFrame({"Name":name,"Designation":designation,"Company":comp,"Skills they hire for":skills,"Location":loc})
naukridf

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Noida
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Mysoru / Mysore
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
49,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",-

In [72]:
driver.close()